.web-selector-ext-mouse-hover {
  background-color: #d0f0ff !important;
  outline: 1px solid #0027EF !important;
}

.web-selector-ext-selected-list {
    background-color: #ccc !important;
    border-radius: 5px !important;
    font-family: sans-serif;
    font-size: 12px;
    font-weight: normal;
    border: 1px solid #444 !important;
    position: fixed !important;
    bottom: 10px !important;
    right: 10px !important;
    width: 20% !important;
    min-height: 30px !important;
    padding: 5px;
}

.web-selector-ext-li {
    list-style-type: none !important;
    margin-bottom: 3px;
}

.web-selector-ext-remove-btn {
    color: #f00 !important;
    cursor: pointer !important;
}